* {
    box-sizing: border-box;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vh;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    height: 100vh;
    justify-content: center;
}

main {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 60vh;
}

.title {
    align-items: center;
    display: flex;
    height: 20%;
}

h1 {
    font-size: 7vh;
    font-weight: bold;
}

.score {
    align-items: center;
    display: flex;
    height: 40%;
}

h2 {
    font-size: 20vh;
    font-weight: lighter;
    padding-top: 5vh;
}

.buttons {
    align-items: center;
    display: flex;
    height: 40%;
}

button {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    margin: 1vh;
    padding: 1vh 3vh 1vh 3vh;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.5);
}
